body {
    background-color: hsl(30, 38%, 92%);
    padding: 0px;
    margin: 0px;
    }

.flex-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    transform: translate(0, 8%);
    width: 1200px;
    height: 900px;
   }


.image-product picture img {
    display: block;
    border: none;
    border-radius: 30px 0px 0px 30px;
}

.product-info {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0px 30px 30px 0px;
}

.parfume {
    margin-left: 10%;
    margin-top: 30px;
}

.parfume p {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    opacity: 0.5;
}

.title-parfume {
    margin-left: 10%;
    margin-right: 83px;
}

.title-parfume h1 {
    font-family: 'Fraunces', serif;
    font-size: 68px;
    font-weight: 700;
    line-height: 65px;
}

.parfume-description {
    margin-left: 10%;
    margin-right: 115px;
}

.parfume-description p {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    color: hsl(228, 12%, 48%);
    opacity: 0.5;
}

.cart-bottom {
    display: block;
    width: 80%;
    height: 80px;
    position: relative;
    left: 10%;
    bottom: 7%;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%) ;
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 35%;
}

.image-cart img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.add-to-cart-link a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.cost {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 5%;
    align-items: center;
    margin-left: 10%;
}

.cost-real p {
    font-size: 60px;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-right: 35px;
}

.cost-del del {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-weight: 400;
    opacity: 0.5;
}

/* media query*/

@media screen and (max-width: 375px) {
    .flex-container {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
        width: 374px;
        height: 380px;
        transform: translate(0, 0);
    }
    
    .image-product picture img {
        border: none;
        border-radius: 30px 30px 0px 0px;
        width: 374px;
    }

    body {
        background-color: none;
    }

    .product-info {    
        border-radius: 0px 0px 30px 30px;
        width: 374px;
        height: 380px;
    }
    
    .parfume {
        margin-top: 1%;
    }
    
    .parfume p {
        font-size: 18px;
    }
    
    .title-parfume {
        position: relative;
        bottom: 5%;
        margin-right: 10%;
    }
    
    .title-parfume h1 {
        font-size: 33px;
        font-weight: 700;
        line-height: 34px;
    }
    
    .parfume-description {
        position: relative;
        bottom: 10%;
        margin-right: 10%;
    }
    
    .parfume-description p {
        font-size: 18px;
        line-height: 25px;          
    }
    
    .cart-bottom {
        height: 60px;
        margin-top: -83px;
        position: relative;
        bottom: 5%;
    }
    
    .add-to-cart {
        top: 25%;
    }
    
    .image-cart img {
        width: 18px;
        height: 18px;
    }
    
    .add-to-cart-link a {
        font-size: 18px;
    }
    
    .cost {
        position: relative;
        bottom: 21%;       
    }
    
    .cost-real p {
        font-size: 34px;
        margin-right: 20px;
    }
    
    .cost-del del {
        font-size: 20px;    
    }
}









